$_main_color: #111010;
$_main_bg_color: #e4eef8;
$_bg_footer_color: #c738e4;
$_header_color: #ffffff;
$_header_accent_color: red;
$_btn_color: #45cd19;
$_btn_hover_color: #73f847;
$_btn_active_color: #2a9408;
$_btn_play_border_color: #116c0b;
$_btn_play_border_active_color: #0a3f06;
$_btn_coockis_border_hover_color: #13a109;
$_btn_coockis_border_active_color: #094d04;
$_main_bg_card_color: #f4e3c7;
$_main_bg_card_border_color: #956e5a;

$_font_pop: Poppins, sans-serif;
$_font_rob: 'Roboto', sans-serif;
$_font_wendy: 'Wendy One', sans-serif;
