<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="advantages-title visually-hidden">advantages</h2>
    <div class="advantages-block">
      <ul class="advantages-list">
        <li class="advantages-item">
          <img
            src="/img/desc/car-1.png"
            alt="hidden object gameplay"
            width="74"
            height="86"
          />

          <div>
            <h3 class="advantages-title-items">Hidden Object Gameplay</h3>
            <p class="advantages-text-items">
              Enjoy satisfying “found it” mechanics across diverse and stunning
              environments.
            </p>
          </div>
        </li>

        <li class="advantages-item">
          <img
            src="/img/desc/car-2.png"
            alt="relaxing atmosphere"
            width="86"
            height="86"
          />

          <div>
            <h3 class="advantages-title-items items-title-2">
              Relaxing Atmosphere
            </h3>
            <p class="advantages-text-items items-text-2">
              Enjoy calm, satisfying gameplay with relaxing music and visuals.
            </p>
          </div>
        </li>

        <li class="advantages-item">
          <img
            src="/img/desc/car-3.png"
            alt="engaging storylines"
            width="69"
            height="86"
          />

          <div>
            <h3 class="advantages-title-items items-title-3">
              Engaging Storylines
            </h3>
            <p class="advantages-text-items items-text-3">
              Meet quirky townsfolk and help them solve everyday mysteries.
            </p>
          </div>
        </li>

        <li class="advantages-item">
          <img
            src="/img/desc/car-4.png"
            alt="daily challenges"
            width="83"
            height="86"
          />

          <div>
            <h3 class="advantages-title-items items-title-4">
              Daily Challenges
            </h3>
            <p class="advantages-text-items items-text-4">
              Take on new puzzles every day and earn bonus rewards.
            </p>
          </div>
        </li>

        <li class="advantages-item">
          <img
            src="/img/desc/car-5.png"
            alt="town restoration"
            width="80"
            height="86"
          />

          <div>
            <h3 class="advantages-title-items items-title-5">
              Town Restoration
            </h3>
            <p class="advantages-text-items items-text-5">
              Use your earnings to build a better LostVille—unlock schools,
              bakeries, and more.
            </p>
          </div>
        </li>

        <li class="advantages-item">
          <img
            src="/img/desc/car-6.png"
            alt="offline play"
            width="84"
            height="86"
          />

          <div>
            <h3 class="advantages-title-items items-title-6">Offline Play</h3>
            <p class="advantages-text-items items-text-6">
              Play anytime, anywhere—even without an internet connection.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
