<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="advantages-title visually-hidden">advantages</h2>
    <div class="advantages-block">
      <ul class="advantages-list">
        <li class="advantages-item">
          <img
            class="advantages-item-img-1"
            src="../img/advant/mobile/advant-card-1.png"
            srcset="
              ../img/advant/mobile/advant-card-1.png           1x,
              ../img/advant/mobile/advant-card-1@2x.png        2x,
              ../img/advant/desktop/advant-desck-card-1.png    1x,
              ../img/advant/desktop/advant-desck-card-1@2x.png 2x
            "
            alt="hidden object gameplay"
            width="107"
            height="124"
          />

          <div class="advantages-item-block-1">
            <h3 class="advantages-title-items items-title-1">
              Hidden Object Gameplay
            </h3>
            <p class="advantages-text-items">
              Enjoy satisfying “found it” mechanics across diverse and stunning
              environments.
            </p>
          </div>
        </li>

        <li class="advantages-item">
          <img
            class="advantages-item-img-2"
            src="../img/advant/mobile/advant-card-2.png"
            srcset="
              ../img/advant/mobile/advant-card-2.png           1x,
              ../img/advant/mobile/advant-card-2@2x.png        2x,
              ../img/advant/desktop/advant-desck-card-2.png    1x,
              ../img/advant/desktop/advant-desck-card-2@2x.png 2x
            "
            alt="hidden object gameplay"
            width="114"
            height="114"
          />

          <div class="advantages-item-block-2">
            <h3 class="advantages-title-items items-title-2">
              Relaxing Atmosphere
            </h3>
            <p class="advantages-text-items items-text-2">
              Enjoy calm, satisfying gameplay with relaxing music and visuals.
            </p>
          </div>
        </li>

        <li class="advantages-item">
          <img
            class="advantages-item-img-3"
            src="../img/advant/mobile/advant-card-3.png"
            srcset="
              ../img/advant/mobile/advant-card-3.png           1x,
              ../img/advant/mobile/advant-card-3@2x.png        2x,
              ../img/advant/desktop/advant-desck-card-3.png    1x,
              ../img/advant/desktop/advant-desck-card-3@2x.png 2x
            "
            alt="hidden object gameplay"
            width="96"
            height="119"
          />

          <div class="advantages-item-block-3">
            <h3 class="advantages-title-items items-title-3">
              Engaging Storylines
            </h3>
            <p class="advantages-text-items items-text-3">
              Meet quirky townsfolk and help them solve everyday mysteries.
            </p>
          </div>
        </li>

        <li class="advantages-item">
          <img
            class="advantages-item-img-4"
            src="../img/advant/mobile/advant-card-4.png"
            srcset="
              ../img/advant/mobile/advant-card-4.png           1x,
              ../img/advant/mobile/advant-card-4@2x.png        2x,
              ../img/advant/desktop/advant-desck-card-4.png    1x,
              ../img/advant/desktop/advant-desck-card-4@2x.png 2x
            "
            alt="hidden object gameplay"
            width="108"
            height="112"
          />
          <div class="advantages-item-block-4">
            <h3 class="advantages-title-items items-title-4">
              Daily Challenges
            </h3>
            <p class="advantages-text-items items-text-4">
              Take on new puzzles every day and earn bonus rewards.
            </p>
          </div>
        </li>

        <li class="advantages-item">
          <img
            class="advantages-item-img-5"
            src="../img/advant/mobile/advant-card-5.png"
            srcset="
              ../img/advant/mobile/advant-card-5.png           1x,
              ../img/advant/mobile/advant-card-5@2x.png        2x,
              ../img/advant/desktop/advant-desck-card-5.png    1x,
              ../img/advant/desktop/advant-desck-card-5@2x.png 2x
            "
            alt="hidden object gameplay"
            width="97"
            height="104"
          />
          <div class="advantages-item-block-5">
            <h3 class="advantages-title-items items-title-5">
              Town Restoration
            </h3>
            <p class="advantages-text-items items-text-5">
              Use your earnings to build a better LostVille—unlock schools,
              bakeries, and more.
            </p>
          </div>
        </li>

        <li class="advantages-item">
          <img
            class="advantages-item-img-6"
            src="../img/advant/mobile/advant-card-6.png"
            srcset="
              ../img/advant/mobile/advant-card-6.png           1x,
              ../img/advant/mobile/advant-card-6@2x.png        2x,
              ../img/advant/desktop/advant-desck-card-6.png    1x,
              ../img/advant/desktop/advant-desck-card-6@2x.png 2x
            "
            alt="hidden object gameplay"
            width="108"
            height="110"
          />
          <div class="advantages-item-block-6">
            <h3 class="advantages-title-items items-title-6">Offline Play</h3>
            <p class="advantages-text-items items-text-6">
              Play anytime, anywhere—even without an internet connection.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
