<section class="cookies-accept" data-accept>
  <div class="container">
    <div class="coocies-left-side">
      <img
        src="img/coocies-modal/pretzel.png"
        alt="image pretzel"
        srcset="
          img/coocies-modal/pretzel.png    1x,
          img/coocies-modal/pretzel@2x.png 2x
        "
        width="187"
        height="187"
        class="img-left-side"
      />
    </div>
    <div class="cookies-right-side">
      <h3 class="cookies-title-side">Cookies policy</h3>
      <p class="cookies-text-side">
        Just like our game, this site gets better with cookies! Let us store a
        few bits to make your experience smoother.
      </p>
      <div class="button-side-block">
        <button
          class="btn-cookies btn-accept"
          type="button"
          data-cookies-accept
        >
          accept cookies
        </button>
        <button
          class="btn-cookies btn-decline"
          type="button"
          data-cookies-decline
        >
          decline cookies
        </button>
      </div>
    </div>
  </div>
</section>
