<section class="faq" id="faq">
  <div class="container">
    <img
      src="/img/faq-1.png"
      alt="girl with magnifying glass"
      width="263"
      height="242"
      class="faq-img"
    />
    <h2 class="faq-title title-basic basic-title">FAQ</h2>
    <div class="accordion-container js-accordion" id="faq-accordion">
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Is LostVille free to play?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Yes! It’s completely free to download and play, with optional
            in-game purchases.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">Can I play offline?</button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Absolutely! Most features are available offline. You only need
            internet for syncing and special events.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            What types of items will I be looking for?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Ev erything from toys and tools to hidden clues and rare
            objects—each scene is full of surprises!
          </p>
        </div>
      </div>
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            How can I expand the town?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Find lost items to earn LostVille Bucks, then use them to build new
            facilities and beautify the town.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
