<section class="gallery" id="gallery">
  <div class="container">
      <h2 class="gallery-title title-basic">Gallery</h2>
    
    <div class="swiper gallery-swiper">
      <ul class="swiper-wrapper gallery-list">
        <li class="swiper-slide gallery-item">
          <img
            src="img/gallery/img-swiper-1.webp"
            srcset="
              img/gallery/img-swiper-1.webp    1x,
              img/gallery/img-swiper-1@2x.webp 2x
            "
            alt="Amustment Parck"
            width="288"
            height="454"
          />
        </li>
        <li class="swiper-slide gallery-item">
          <img
            src="img/gallery/img-swiper-2.webp"
            srcset="
              img/gallery/img-swiper-2.webp    1x,
              img/gallery/img-swiper-2@2x.webp 2x
            "
            alt="City center"
            width="288"
            height="454"
          />
        </li>
        <li class="swiper-slide gallery-item">
          <img
            src="img/gallery/img-swiper-3.webp"
            srcset="
              img/gallery/img-swiper-3.webp    1x,
              img/gallery/img-swiper-3@2x.webp 2x
            "
            alt="Sandy Beach"
            width="288"
            height="454"
          />
        </li>
        <li class="swiper-slide gallery-item">
          <img
            src="img/gallery/img-swiper-4.webp"
            srcset="
              img/gallery/img-swiper-4.webp    1x,
              img/gallery/img-swiper-4@2x.webp 2x
            "
            alt="picture of the neighborhood"
            width="288"
            height="454"
          />
        </li>
        <li class="swiper-slide gallery-item">
          <div class="img-block">
            <img
              src="img/gallery/img-swiper-5.webp"
              srcset="
                img/gallery/img-swiper-5.webp    1x,
                img/gallery/img-swiper-5@2x.webp 2x
              "
              alt="City center"
              width="288"
              height="454"
            />
          </div>
        </li>
        <li class="swiper-slide gallery-item">
          <div class="img-block">
            <img
              src="img/gallery/img-swiper-6.webp"
              srcset="
                img/gallery/img-swiper-6.webp    1x,
                img/gallery/img-swiper-6@2x.webp 2x
              "
              alt="Amustment Parck"
              width="288"
              height="454"
            />
          </div>
        </li>
        <li class="swiper-slide gallery-item">
          <div class="img-block">
            <img
              src="img/gallery/img-swiper-7.webp"
              srcset="
                img/gallery/img-swiper-7.webp    1x,
                img/gallery/img-swiper-7@2x.webp 2x
              "
              alt="Sandy Beach"
              width="288"
              height="454"
            />
          </div>
        </li>
        <li class="swiper-slide gallery-item">
            <div class="img-block">
            <img
              src="img/gallery/img-swiper-7.webp"
              srcset="
                img/gallery/img-swiper-7.webp    1x,
                img/gallery/img-swiper-7@2x.webp 2x
              "
              alt="Winter Resort"
              width="288"
              height="454"
            />
        </li>
      </ul>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
