<section class="game-desc" id="game-desc">
  <div class="container">
    <div class="desc-block">
      <h2 class="game-desc-title title-basic">Game Description</h2>
      <div class="desc-title-block">
        <p class="desc-text">
          Welcome to LostVille, a delightful town filled with charm, mystery,
          and mischief! The residents are constantly misplacing their
          belongings, and it’s up to you to help them out.
        </p>
        <p class="desc-text">
          Use your sharp eye to search through beautifully illustrated scenes,
          find hidden items, and restore the town by unlocking new buildings and
          features. From cozy kitchens to bustling parks, every scene is a new
          adventure!
        </p>
      </div>
      <button class="hero-btn btn" type="button">
        <a
          href="https://play.google.com/store/apps/details?id=com.dp.seekville.hidden.objects&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
          >Play Now</a
        >
      </button>
    </div>
  </div>
</section>
