<header class="header">
  <nav class="nav">
    <a class="nav-logo" href="./index.html" aria-label="Site logo">
      <img src="/img/logo.png" alt="Lost Ville logo" width="60" height="60" />
    </a>
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#game-desc">Game Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#faq">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#reviews">Reviews</a>
      </li>
    </ul>
    <button type="button" class="burger-btn" data-action="open">
      Open menu
    </button>
    <div class="burger-menu" data-visible="close">
      <ul class="mobile-list">
        <li class="mobile-item">
          <a class="nav-lin" href="#home">Home</a>
        </li>
        <li class="mobile-item">
          <a class="nav-link" href="#game-desc">Game Description</a>
        </li>
        <li class="mobile-item">
          <a class="nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="mobile-item">
          <a class="nav-link" href="#faq">FAQ</a>
        </li>
        <li class="mobile-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
      <button type="button" class="btn-close" data-action="close">close</button>
    </div>
  </nav>
</header>
