<section class="hero">
  <div class="container">
    <div class="hero-block">
      <h1 class="hero-title">LostVille: <br />Find Hidden Objects</h1>
      <p class="hero-text">Search, Discover & Restore a Town Full of Charm!</p>
      <button class="hero-btn btn" type="button">
        <a
          href="https://play.google.com/store/apps/details?id=com.dp.seekville.hidden.objects&hl=en-US"
          target="_blank"
          rel="noopener noreferrer"
          >Play Now</a
        >
      </button>
    </div>
  </div>
</section>
