<section class="hero" id="hero">
  <div class="container">
    <img
      src="/img/hero/hero-1.png"
      alt="girl with magnifying glass"
      srcset="/img/hero/hero-1.png 1x, /img/hero/bg-hero-1@2x.png 2x"
      class="hero-img"
      width="358"
      height="353"
    />
    <div class="hero-block">
      <h1 class="hero-title">LostVille: <br />Find Hidden Objects</h1>
      <p class="hero-text">Search, Discover & Restore a Town Full of Charm!</p>

      <a
        class="hero-btn btn"
        href="https://play.google.com/store/apps/details?id=com.dp.seekville.hidden.objects&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
        >Play Now</a
      >
    </div>
  </div>
</section>
