<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title title-basic basic-title">Reviews</h2>
    <div class="swiper reviews-swiper" id="reviews-swiper">
      <div class="swiper-wrapper reviews-container">
        <div class="swiper-slide">
          <div class="reviews-block">
            <ul class="reviews-list">
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
            </ul>
            <img
              src="img/reviews/rv-img-1.png"
              alt="Nina F"
              width="110"
              height="110"
            />
            <div class="reviews-right-side">
              <h3 class="right-title-side">nina f.</h3>
              <p class="right-text-side">
                "I’m in love with the artwork and how calming it is to play.
                Perfect after a long day!"
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-block">
            <ul class="reviews-list">
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
            </ul>
            <img
              src="img/reviews/rv-img-2.png"
              alt="Leo G"
              width="110"
              height="110"
            />
            <div class="reviews-right-side">
              <h3 class="right-title-side">Leo G.</h3>
              <p class="right-text-side">
                "The hidden objects are cleverly placed and fun to find. I also
                love rebuilding the town!"
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-block">
            <ul class="reviews-list">
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
            </ul>
            <img
              src="img/reviews/rv-img-3.png"
              alt="Sophia D"
              width="110"
              height="110"
            />
            <div class="reviews-right-side">
              <h3 class="right-title-side">sophia d.</h3>
              <p class="right-text-side">
                "Great for fans of relaxing games. The town-building aspect
                gives it depth!"
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-block">
            <ul class="reviews-list">
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
            </ul>
            <img
              src="img/reviews/rv-img-5.png"
              alt="Ben K"
              width="110"
              height="110"
            />
            <div class="reviews-right-side">
              <h3 class="right-title-side">Ben K.</h3>
              <p class="right-text-side">
                "Each scene feels alive. It’s not just about finding things,
                it’s about discovering the town."
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-block">
            <ul class="reviews-list">
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
              <li class="reviews-item">
                <img
                  src="img/reviews/star-1.png"
                  srcset="
                    img/reviews/star-1.png    1x,
                    img/reviews/star-1@2x.png 2x
                  "
                  alt="image star"
                  class="reviews-img"
                />
              </li>
            </ul>
            <img
              src="img/reviews/rv-img-4.png"
              alt="Lily M"
              width="110"
              height="110"
            />
            <div class="reviews-right-side">
              <h3 class="right-title-side">Lily M.</h3>
              <p class="right-text-side">
                The daily challenges keep me coming back. Highly recommended for
                puzzle lovers!"
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev" id="btn-prev"></div>
      <div class="swiper-button-next" id="btn-next"></div>
    </div>
  </div>
</section>
