.advantages {
  padding: 12px 0px 44px;
  @include media(desktop) {
    padding: 50px 0px 56px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px 8px;
  }
}

.advantages-item {
  background-color: $_main_bg_card_color;
  display: flex;
  align-items: center;
  gap: 6px;
  box-shadow: 2px 2px 4px 0 rgba(114, 81, 65, 0.2),
    -2px -2px 4px 0 rgba(114, 81, 65, 0.2);
  border: 3px solid #956e5a;
  border-radius: 45px;
  width: 288px;
  height: 156px;

  @include media(desktop) {
    gap: 8px;
    width: calc((100% - 16px) / 3);
    align-items: center;
    padding: 10px 0;
  }
}
.item-1 {
  padding-top: 8px;
  padding-bottom: 8px;
  @include media(desktop) {
    padding-left: 10px;
    padding-right: 10px;
  }
  .advantages-item-img-1 {
    height: 86px;
    @include media(desktop) {
      width: auto;
      height: 124px;
    }
  }
}

.item-2 {
  padding-top: 22px;
  padding-bottom: 22px;
  @include media(desktop) {
    padding-left: 5px;
    padding-right: 5px;
  }
  .advantages-item-img-2 {
    width: 86px;
    height: auto;
    @include media(desktop) {
      width: 114px;
      height: 114px;
    }
  }
}
.item-3 {
  padding-top: 34px;
  padding-bottom: 34px;
  @include media(desktop) {
    padding-left: 5px;
    padding-right: 33px;
  }
  .advantages-item-img-3 {
    width: 69px;
    height: auto;
    @include media(desktop) {
      width: 96px;
      height: 119px;
    }
  }
}

.item-4 {
  padding-top: 34px;
  padding-bottom: 34px;
  @include media(desktop) {
    padding-left: 5px;
    padding-right: 23px;
  }
  .advantages-item-img-4 {
    width: 83px;
    height: auto;
    @include media(desktop) {
      width: 108px;
      height: 112px;
    }
  }
}

.item-5 {
  padding-top: 23px;
  padding-bottom: 23px;
  @include media(desktop) {
    padding: 10px 40px 10px 5px;
  }
  .advantages-item-img-5 {
    width: 80px;
    height: auto;
    @include media(desktop) {
      width: 97px;
      height: 104px;
    }
  }
  .advantages-item-block-5 {
    .items-title-5 {
      white-space: nowrap;
    }
  }
}

.item-6 {
  padding-top: 34px;
  padding-bottom: 34px;
  @include media(desktop) {
    padding: 20px 32px 20px 5px;
  }
  .advantages-item-img-6 {
    width: 84px;
    height: auto;
    @include media(desktop) {
      width: 108px;
      height: 110px;
    }
  }
}

.advantages-title-items {
  font-family: $_font_wendy;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: $_text_btn_color;
  margin-bottom: 6px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.advantages-text-items {
  font-family: $_font_pop;
  font-size: 14px;
  line-height: 1.5;
  color: $_text_btn_color;

  @include media(desktop) {
    font-size: 16px;
  }
}
