.advantages {
  background-color: $_main_bg_color;
  padding-top: 12px;
  padding-bottom: 44px;
  @include media(desktop) {
    padding-bottom: 56px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 24px 8px;
  }
}

.advantages-item {
  background-color: $_main_bg_card_color;
  display: flex;
  align-items: center;

  gap: 6px;

  box-shadow: 2px 2px 4px 0 rgba(114, 81, 65, 0.2),
    -2px -2px 4px 0 rgba(114, 81, 65, 0.2);
  background: #f4e3c7;
  border: 3px solid #956e5a;
  border-radius: 45px;

  width: 288px;
  padding: 8px;
  @include media(desktop) {
    gap: 8px;
    width: calc((100% - (2 * 8px)) / 3);
    align-items: center;
  }
}

.advantages-item-img-1 {
  height: 86px;
  @include media(desktop) {
    margin-left: 8px;
    width: 100%;
    height: 124px;
  }
}

.advantages-item-img-2 {
  width: 86px;
  height: 86px;
  @include media(desktop) {
    width: 114px;
    height: 114px;
  }
}

.advantages-item-img-3 {
  width: 69px;
  height: 86px;
  @include media(desktop) {
    width: 96px;
    height: 119px;
  }
}

.advantages-item-img-4 {
  width: 83px;
  height: 86px;
  @include media(desktop) {
    width: 108px;
    height: 112px;
  }
}

.advantages-item-img-5 {
  width: 108px;
  height: 86px;
  @include media(desktop) {
    width: 97px;
    height: 104px;
  }
}

.advantages-item-img-6 {
  width: 84px;
  height: 86px;
  @include media(desktop) {
    width: 108px;
    height: 110px;
  }
}

.advantages-item-block-1 {
  @include media(desktop) {
    padding: 0px;
  }
}

.advantages-item-block-2 {
  padding: 14px 0px;
  @include media(desktop) {
    padding: 0px;
  }
}

.advantages-item-block-3 {
  padding: 24px 0px;
  @include media(desktop) {
    .items-title-3 {
      white-space: normal;
    }
    padding: 6px 28px 6px 0px;
  }
}

.advantages-item-block-4 {
  padding: 28px 0px;
  @include media(desktop) {
    .items-title-4 {
      white-space: nowrap;
    }
    padding: 18px 18px 18px 0px;
  }
}
.advantages-item-block-5 {
  .items-title-5 {
    white-space: nowrap;
  }
  padding: 15px 0px;
  @include media(desktop) {
    padding: 18px 35px 18px 0px;
  }
}
.advantages-item-block-6 {
  padding: 26px 0px;
  @include media(desktop) {
    padding: 15px 27px 15px 0px;
  }
}

.advantages-title-items {
  font-family: $_font_wendy;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  text-transform: uppercase;
  color: $_text_btn_color;

  margin-bottom: 6px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.advantages-text-items {
  font-family: $_font_pop;
  font-size: 14px;

  /* line-height: 21px; */
  line-height: 1.5;
  color: $_text_btn_color;

  @include media(desktop) {
    font-size: 16px;
  }
}
