.faq {
  padding: 44px 0px 44px;
  @include media(desktop) {
    padding-bottom: 0px;
  }
}
.faq .container {
  position: relative;
  @include media(desktop) {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 46px;
  }
}
.faq-img {
  position: absolute;
  width: 91px;
  height: 96px;
  top: -16px;
  left: 2px;
  @include media(desktop) {
    width: 263px;
    height: 242px;
    top: -67px;
    left: 145px;
  }
}
.faq-title {
  width: 141px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(desktop) {
    width: 403px;
    height: 131px;
    margin-bottom: 0;
  }
}
#faq-accordion {
  width: 288px;

  @include media(desktop) {
    width: 836px;
  }
}
#faq-accordion #ac-0,
#faq-accordion #ac-1,
#faq-accordion #ac-2,
#faq-accordion #ac-3 {
  border: none;
}
#faq-accordion #ac-0,
#faq-accordion #ac-1,
#faq-accordion #ac-2,
#faq-accordion #ac-3 {
  background-color: #e4eef8;
}

#faq-accordion #ac-0 .ac-header #ac-trigger-0,
#faq-accordion #ac-1 .ac-header #ac-trigger-1,
#faq-accordion #ac-2 .ac-header #ac-trigger-2,
#faq-accordion #ac-3 .ac-header #ac-trigger-3 {
  border: 3px solid $_main_bg_card_border_color;
  border-radius: 20px;
  background-color: $_main_bg_card_color;
  padding: 19px 48px 19px 16px;

  @include media(desktop) {
    padding: 17px 16px;
  }
}
#faq-accordion #ac-0.is-active > .ac-header #ac-trigger-0,
#faq-accordion #ac-1.is-active > .ac-header #ac-trigger-1,
#faq-accordion #ac-2.is-active > .ac-header #ac-trigger-2,
#faq-accordion #ac-3.is-active > .ac-header #ac-trigger-3 {
  border: none;
  border-radius: 20px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: $_main_bg_card_border_color;
}
#faq-accordion #ac-0.is-active,
#faq-accordion #ac-1.is-active,
#faq-accordion #ac-2.is-active,
#faq-accordion #ac-3.is-active {
  border: 3px solid $_main_bg_card_border_color;
  border-radius: 20px;
  background-color: $_main_bg_card_color;
  background-color: $_main_bg_sub_card_color;
}
#faq-accordion #ac-0.is-active > .ac-header #ac-trigger-0::after,
#faq-accordion #ac-1.is-active > .ac-header #ac-trigger-1::after,
#faq-accordion #ac-2.is-active > .ac-header #ac-trigger-2::after,
#faq-accordion #ac-3.is-active > .ac-header #ac-trigger-3::after {
  content: '\2716';
}
#faq-accordion #ac-0 .ac-header #ac-trigger-0,
#faq-accordion #ac-0 .ac-header #ac-trigger-0::after,
#faq-accordion #ac-1 .ac-header #ac-trigger-1,
#faq-accordion #ac-1 .ac-header #ac-trigger-1::after,
#faq-accordion #ac-2 .ac-header #ac-trigger-2,
#faq-accordion #ac-2 .ac-header #ac-trigger-2::after,
#faq-accordion #ac-3 .ac-header #ac-trigger-3,
#faq-accordion #ac-3 .ac-header #ac-trigger-3::after {
  font-family: $_font_pop;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
  color: $_main_color;
  @include media(desktop) {
    font-size: 24px;
  }
}

#faq-accordion #ac-0 .ac-header #ac-trigger-0::after,
#faq-accordion #ac-1 .ac-header #ac-trigger-1::after,
#faq-accordion #ac-2 .ac-header #ac-trigger-2::after,
#faq-accordion #ac-3 .ac-header #ac-trigger-3::after {
  content: '\271a';
  font-size: 24px;
  font-size: 16px;
  @include media(desktop) {
    width: 24px;
    font-size: 24px;
  }
}
#faq-accordion #ac-0 #ac-panel-0,
#faq-accordion #ac-1 #ac-panel-1,
#faq-accordion #ac-2 #ac-panel-2,
#faq-accordion #ac-3 #ac-panel-3 {
  border-radius: 0 0 20px 20px;
}
#faq-accordion #ac-0 #ac-panel-0 .ac-text,
#faq-accordion #ac-1 #ac-panel-1 .ac-text,
#faq-accordion #ac-2 #ac-panel-2 .ac-text,
#faq-accordion #ac-3 #ac-panel-3 .ac-text {
  font-family: $_font_pop;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;

  padding: 13px 13px 20px 16px;
  @include media(desktop) {
    font-size: 16px;
    padding: 12px 0px 29px 16px;
  }
}
