.gallery {
  padding-bottom: 30px;
}
#gallery-swiper {
  display: flex;
  padding: 0 0 85px;
  overflow: hidden;
}
.gallery-title {
  width: 182px;
  padding: 18px 46px 29px;

  @include media(desktop) {
    width: 426px;
    padding: 36px 137px 59px;
  }
}
#gallery-swiper .swiper-wrapper .gallery-item {
  height: 454px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  text-align: center;
  background-color: $_bg_card_gallery;
  @include media(desktop) {
    width: 320px;
    height: 505px;
  }
}
.swiper-img-block img {
  width: 100%;
}
#gallery-swiper .swiper-wrapper .swiper-img-block-5,
#gallery-swiper .swiper-wrapper .swiper-img-block-6,
#gallery-swiper .swiper-wrapper .swiper-img-block-7,
#gallery-swiper .swiper-wrapper .swiper-img-block-8 {
  @include media(desktop) {
    width: 898px;
  }
}
#gallery-swiper .swiper-wrapper .swiper-img-block-5 img,
#gallery-swiper .swiper-wrapper .swiper-img-block-6 img,
#gallery-swiper .swiper-wrapper .swiper-img-block-7 img,
#gallery-swiper .swiper-wrapper .swiper-img-block-8 img {
  @include media(desktop) {
    width: 100%;
    height: 100%;
  }
}
#gallery-swiper .swiper-button-next,
#gallery-swiper .swiper-button-prev {
  width: 44px;
  height: 44px;
  background-color: $_btn_color;
  border-radius: 100%;
  top: 96%;
}
#gallery-swiper .swiper-button-prev {
  left: 35%;
  transform: translate(-50%, 0);
  @include media(desktop) {
    left: 45%;
  }
}
#gallery-swiper .swiper-button-next {
  right: 35%;
  transform: translate(50%, 0);
  @include media(desktop) {
    right: 45%;
  }
}
#gallery-swiper .swiper-button-next::after,
#gallery-swiper .swiper-button-prev::after {
  color: #ffff;
  font-size: 25px;
  text-align: center;
}
#gallery-swiper .swiper-scrollbar {
  width: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 64px;
  background-color: $_bg_scroll_bar;
}
#gallery-swiper .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: $_bg_scroll_bar_scroll;
}
