.game-desc-title {
  width: 288px;
  background: url('./../img/title-bg/title.png') center no-repeat;
  background-size: contain;
  @include media(desktop) {
    width: 527px;
    line-height: 1;
    padding: 36px 87px 59px;
  }
  margin-bottom: 24px;
  line-height: 1.5;
  padding: 21px 45px 34px;
}
@media (min-resolution: 192dpi) {
  .title-game-desc {
    background: url('./../img/title-bg/title@2x.png') center no-repeat;
  }
}
