.header {
  padding: 8px 0;
  background-color: $_header_color;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  @include media(desktop) {
    .container {
      padding: 0 96px;
    }
  }
}
.nav-logo {
  @include media(desktop) {
    width: 61px;
    height: 49px;
  }
}

.nav-logo-img {
  width: 51px;
  height: 41px;

  @include media(desktop) {
    width: 61px;
    height: 49px;
  }
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 40px;

  @include media(desktop) {
    display: flex;
    justify-content: flex-end;
    padding-right: 225px;
  }
}

.nav-link {
  font-family: $_font_pop;
  font-weight: 600;

  /* line-height: 24px; */
  line-height: 1.5;
  color: $_main_color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: $_text_btn_hover_color;
}

.nav-link:active {
  color: $_text_btn_active_color;
}

.burger-btn,
.btn-close {
  padding: 0.5em 0.8em;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 0.5em;
  color: #fff;
  @include media(desktop) {
    display: none;
  }
}

.burger-svg,
.img-close {
  stroke: #1b1918;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-close {
  fill: #1b1918;
}

.img-close:focus {
  fill: $_text_btn_hover_color;
}
.burger-svg:focus,
.img-close:focus {
  stroke: $_text_btn_hover_color;
}
.burger-svg:active,
.img-close:active {
  stroke: $_text_btn_active_color;
}
.img-close:active {
  fill: $_text_btn_active_color;
}
