.privacy-policy {
  padding: 42px 0 0;
  background-color: $_main_bg_color;
  .container {
    margin-bottom: 34px;
    @include media(desktop) {
      padding: 0 96px;
    }
  }
}

.title-privacy {
  width: 254px;
  height: 70px;
  padding: 22px 40px 47px 33px;
  @include media(desktop) {
    width: 447px;
    padding: 36px 77px 59px;
    line-height: 1;
  }

  font-family: $_font_wendy;
  font-weight: 400;
  font-size: 20px;

  line-height: 1.5;
  text-transform: uppercase;
  color: $_header_color;

  text-align: center;

  margin-bottom: 24px;
  margin-top: 34px;
}

.title-h3 {
  font-family: $_font_pop;
  font-weight: 500;
  font-size: 20px;

  line-height: 1.8;
  color: #000;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 24px;

    line-height: 1.5;
  }
}

.privacy-list {
  list-style: initial;
  margin-bottom: 32px;
  padding-left: 16px;
}

.privacy-link-list {
  list-style: initial;
  text-decoration: underline;
  padding-left: 16px;
}

.privacy-item-text {
  @include media(desktop) {
    font-size: 20px;
  }
}

.privacy-list-1 {
  list-style: initial;
  padding-left: 16px;
}

.privacy-text-1 {
  @include media(desktop) {
    font-size: 20px;
  }
}

.privacy-text {
  font-family: $_font_pop;
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  color: #000;
  margin-bottom: 32px;
  @include media(desktop) {
    font-size: 20px;
  }
}

.privacy-link-footer {
  text-decoration: underline;
}
