.reviews {
  padding-bottom: 44px;
  background: url('../img/reviews/bg-reviews-mob.png') center no-repeat;
  background-size: 100% 60%;
  background-position: 0 55px;
  @include media(desktop) {
    background: url('../img/reviews/bg-reviews-desc.png') center no-repeat;
    padding: 96px 0px 104px;
    background-position: 50% 65%;
  }
}
@media (min-resolution: 192dpi) {
  .reviews {
    background: url('../img/reviews/bg-reviews-mob@2x.png') center no-repeat;
    background-size: 100% 60%;
    background-position: 0 55px;
    @include media(desktop) {
      background: url('../img/reviews/bg-reviews-desc@2x.png') center no-repeat;
      background-size: 1200px 67%;
      background-position: 50% 65%;
    }
  }
}
.reviews-title {
  width: 182px;
  padding: 18px 46px 29px;
  margin-bottom: 0;
  @include media(desktop) {
    width: 426px;
    padding: 36px 137px 59px;
  }
}
#reviews-swiper .reviews-container {
  @include media(desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 186px;
    grid-row-gap: 35px;
    justify-items: center;
  }
}
.reviews-block {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  background-color: $_main_bg_card_color;
  border: 3px solid $_main_bg_card_border_color;
  border-radius: 45px;
  padding: 8px 8px;
  @include media(desktop) {
    padding: 16px 18px;
  }
}
.reviews-list {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150px;
  height: 37px;
  padding: 5px 0 11px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: url('../img/reviews/group.png') center no-repeat;
  background-size: contain;
}
@media (min-resolution: 192dpi) {
  .reviews-list {
    background: url('../img/reviews/group@2x.png') center no-repeat;
    background-size: contain;
  }
}
.right-title-side {
  font-family: $_font_pop;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #111010;
  margin-bottom: 6px;
  @include media(desktop) {
    font-size: 20px;
  }
}
.right-text-side {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #111010;
}
#btn-prev,
#btn-next {
  display: flex;
}
#reviews-swiper .swiper-button-next,
#reviews-swiper .swiper-button-prev {
  width: 44px;
  height: 44px;

  background-color: $_btn_color;
  border-radius: 100%;
  top: 90%;
}
.reviews-container {
  padding: 54px 0 31px;
}
#reviews-swiper .swiper-button-prev {
  left: 35%;
  transform: translate(-50%, 0);
}
#reviews-swiper .swiper-button-next {
  right: 35%;
  transform: translate(50%, 0);
}
#reviews-swiper .swiper-button-next::after,
#reviews-swiper .swiper-button-prev::after {
  color: #ffff;
  display: flex;
  font-size: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 9px;
}
#reviews-swiper .swiper-wrapper .swiper-slide {
  width: 362px;
}
#reviews-swiper .swiper-wrapper .swiper-slide:nth-child(3) {
  grid-area: 2 / 1 / 3 / 3;
}
