@import './header.scss';
@import './modalwindow.scss';
@import './hero.scss';
@import './game-desc.scss';
@import './faq.scss';
@import './reviews.scss';
@import './gallery.scss';
@import './footer.scss';
@import './privacy-policy.scss';
@import './coocies-policy.scss';
@import './btn-home.scss';
@import './coocies-accept.scss';

:root {
  font-family: Poppins, Roboto, Wendy One, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #e4eef8;
  position: relative;
}
.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
  @include media(desktop) {
    max-width: 1200px;
    padding: 0 96px;
  }
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
.title-block,
.block-title {
  text-align: center;
  margin: 0 auto;
}
.title-block {
  width: auto;
  height: 79px;
  background: url('./../img/title-bg/group.png') center no-repeat;
  background-size: cover;
  margin-bottom: 24px;
  @include media(desktop) {
    height: 131px;
    margin-bottom: 54px;
  }
}
@media (min-resolution: 192dpi) {
  .title-block {
    background: url('./../img/title-bg/group@2x.png') center no-repeat;
    background-size: cover;
  }
}
.title,
.title-basic {
  font-family: $_font_wendy;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  text-shadow: -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black,
    1px 1px 2px black;
  @include media(desktop) {
    font-size: 36px;
  }
}
.title {
  line-height: 1.5;
}
.title-basic {
  background: url('./../img/title-bg/title.png') center no-repeat;
  background-size: contain;
  @include media(desktop) {
    background-size: contain;
  }
  margin-bottom: 24px;
  @include media(desktop) {
    line-height: 1;
  }
}
@media (min-resolution: 192dpi) {
  .title-basic {
    background: url('./../img/title-bg/title@2x.png') center no-repeat;
  }
}
