.terms-conditions {
  padding: 42px 0 0;
  background-color: $_main_bg_color;
  .container {
    margin-bottom: 34px;
    @include media(desktop) {
      padding: 0 96px;
    }
  }
}

.title-terms {
  width: 277px;
  line-height: 1.5;
  background: url('../img/title-bg/group.png') center no-repeat;

  background-size: contain;
  margin-bottom: 24px;
  padding: 11px 74px 23px 78px;
  @include media(desktop) {
    background: url('../img/title-bg/terms_Bg.png') center no-repeat;
    width: 642px;
    padding: 36px 101px 59px;
    line-height: 1;
  }
}

@media (min-resolution: 192dpi) {
  .title-terms {
    background: url('../img/title-bg/terms-bg@2x.png') center no-repeat;
    background-size: contain;
  }
}

.terms-main {
  @include media(desktop) {
    margin-top: 54px;
  }
}

.terms-block {
  margin-bottom: 32px;
}

.terms-text {
  font-family: $_font_pop;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $_police_color;

  @include media(desktop) {
    font-size: 20px;
  }
}

.title-h3 {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 30px; */
  line-height: 1.5;
  color: $_police_color;

  @include media(desktop) {
    font-size: 24px;

    line-height: 1.5;
  }
}

.terms-list {
  list-style: initial;
  margin-bottom: 32px;
  padding-left: 16px;
}

.terms-link-list {
  list-style: initial;
  text-decoration: underline;
  padding-left: 16px;
}

.terms-txt-p {
  padding-bottom: 37px;
}

.coocies-subtext,
.terms-link-footer {
  text-decoration: underline;
}
